<#@ template language="C#" #>

// برای نمایش ورژن نرم افزار در صفحه لاگین و همچنین ثبت در دی ال ال پروژه این فایل ایجاد شده است
// که بصورت اتوماتیک ورژن نرم افزار را در اسمبلی ثبت می کند

using System.Reflection;

[assembly: AssemblyVersion("1.0.1.<#= this.RevisionNumber #>")]
[assembly: AssemblyFileVersion("1.0.1.<#= this.RevisionNumber #>")]
<#+
    int RevisionNumber = (int)(DateTime.UtcNow - new DateTime(2016,1,1)).TotalDays;
#>