
<style type="text/css">
    html,
    body {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

        .slick-slide img {
            width: 100%;
        }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
    }
</style>
<body id="all-academies">

    <section class="all-academies-header">
        <div class="header-info-container">
            <div class="info-title mb-3 w-25">
                <img class="" src="~/Content/Images/Hadi/Academy/AllAcademies/academy_logo.svg" alt="">
            </div>
            <div class="info-description mb-5">
                آکادمـــی ســوران
            </div>
        </div>
        <div class="background-pattern"></div>
        <div class="event-container">
            <div class="event-title-container mb-2">
                <div class="event-title">
                    رویداد پیش رو
                </div>
                <div class="event-line">

                </div>
            </div>
            <div class="event-image-container">
                <img src="~/Content/Images/Hadi/Academy/AllAcademies/roydad_banner-01.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="academy-tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#programming">برنامه نویسی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#art">طراحی و گرافیک</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#network">شبکه و زیرساخت</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane  active" id="programming">
                <div class="content">
                    <div class="details">
                        <div class="title so-display-h3">
                            در یک دقیقه یاد بگیرید!
                        </div>
                        <div class="text">
                            <div>
                                برای پیدا کردن مهارت های جدید
                                کاوش کنید و در احساسات خود
                                عمیق شوید، خلاقیت را هم همراه
                                خود ببرید و چیزی که پیدا می
                                کنید، باعث الهام بخشیدن به شما
                                می شود.
                            </div>
                            <img class="w-25  mt-5" src="~/Content/Images/Hadi/Academy/AllAcademies/eleman-01.svg" alt="">
                        </div>
                    </div>
                    <div class="videos">
                        <div class="filter-container">
                            <div class="filters nav nav-pills">
                                <div class="filter active" data-toggle="pill">
                                    همه
                                </div>
                                <div class="filter" data-toggle="pill">
                                    UI & UX
                                </div>
                                <div class="filter" data-toggle="pill">
                                    Logo Design
                                </div>
                                <div class="filter" data-toggle="pill">
                                    Frontend
                                </div>
                                <div class="filter" data-toggle="pill">
                                    Cisco
                                </div>
                            </div>
                        </div>
                        <div class="videos-slider">
                            <video controls src=""></video>
                            <video controls src=""></video>
                            <video controls src=""></video>
                            <video controls src=""></video>
                            <video controls src=""></video>
                            <video controls src=""></video>

                        </div>
                    </div>
                </div>
                <div class="tab-pane  fade" id="art">...</div>
                <div class="tab-pane  fade" id="network">...</div>
            </div>
    </section>
    <section class="academy-course">
        <div class="academy-course-header">
            <div class="title">
                دوره های آموزشی آکادمی
            </div>
            <div class="course-line-custom">

            </div>
        </div>
        <div class="course-image-container so-subheading-text mt-4">
            <div class="course-image pb-3">
                <img loop controls src="~/Content/Images/Hadi/Academy/AllAcademies/framer.jpg" class="image-custom">
                <div class="image-info so-display-h3 mt-2">
                    Framer دوره های آموزشی
                </div>
                <div class="time">
                    <span>
                        مدت زمان :
                    </span>
                    <span class="time-content">
                        ٢٢ ساعت
                    </span>
                </div>
                <div class="teacher-name">
                    <span class="name">
                        مدرس :
                    </span>
                    <span class="teacher-name-content">
                        <img src="" alt="">
                        علی مرزداران
                    </span>
                </div>
                <div class="price">
                    <span class="price-name">
                        قیمت :
                    </span>
                    <span class="price-content">
                        ١٢٠,٠٠٠ ﺗﻮﻣﺎن
                    </span>
                </div>
                <div class="button">
                    <button class="btn-custom btn cowork bg-green mt-4 arrow-button-intraction pointer ">
                        <a class="text-white" href="">
                            درخواست همکاری
                        </a>
                        <img class="mr-2" src="~/Content/Images/Hadi/arrow-left.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="course-image pb-3">
                <img loop controls src="~/Content/Images/Hadi/Academy/AllAcademies/html_css_workshop.jpg" class="image-custom">
                <div class="image-info so-display-h3 mt-2">
                    برنامه نویسی فرانت با HTML و CSS
                </div>
                <div class="time">
                    <span>
                        مدت زمان :
                    </span>
                    <span class="time-content">
                        ٢٢ ساعت
                    </span>
                </div>
                <div class="teacher-name">
                    <span class="name">
                        مدرس :
                    </span>
                    <span class="teacher-name-content">
                        <img src="" alt="">
                        علی مرزداران
                    </span>
                </div>
                <div class="price">
                    <span class="price-name">
                        قیمت :
                    </span>
                    <span class="price-content">
                        ١٢٠,٠٠٠ ﺗﻮﻣﺎن
                    </span>
                </div>
                <div class="button">
                    <button class="btn-custom btn cowork bg-green mt-4 arrow-button-intraction pointer ">
                        <a class="text-white" href="">
                            درخواست همکاری
                        </a>
                        <img class="mr-2" src="~/Content/Images/Hadi/arrow-left.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="course-image pb-3">
                <img loop controls src="~/Content/Images/Hadi/Academy/AllAcademies/career_in_ux.jpg" class="image-custom">
                <div class="image-info so-display-h3 mt-2">
                    دوره های آموزشی Framer
                </div>
                <div class="time">
                    <span>
                        مدت زمان :
                    </span>
                    <span class="time-content">
                        ٢٢ ساعت
                    </span>
                </div>
                <div class="teacher-name">
                    <span class="name">
                        مدرس :
                    </span>
                    <span class="teacher-name-content">
                        <img src="" alt="">
                        علی مرزداران
                    </span>
                </div>
                <div class="price">
                    <span class="price-name">
                        قیمت :
                    </span>
                    <span class="price-content">
                        ١٢٠,٠٠٠ ﺗﻮﻣﺎن
                    </span>
                </div>
                <div class="button">
                    <button class="btn-custom btn cowork bg-green mt-4 arrow-button-intraction pointer ">
                        <a class="text-white" href="">
                            درخواست همکاری
                        </a>
                        <img class="mr-2" src="~/Content/Images/Hadi/arrow-left.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="course-image pb-3">
                <img loop controls src="~/Content/Images/Hadi/Academy/AllAcademies/usability.jpg" class="image-custom">
                <div class="image-info so-display-h3 mt-2">
                    طراحی رابط تجربه کاربری
                </div>
                <div class="time">
                    <span>
                        مدت زمان :
                    </span>
                    <span class="time-content">
                        ٢٢ ساعت
                    </span>
                </div>
                <div class="teacher-name">
                    <span class="name">
                        مدرس :
                    </span>
                    <span class="teacher-name-content">
                        <img src="" alt="">
                        علی مرزداران
                    </span>
                </div>
                <div class="price">
                    <span class="price-name">
                        قیمت :
                    </span>
                    <span class="price-content">
                        ١٢٠,٠٠٠ ﺗﻮﻣﺎن
                    </span>
                </div>
                <div class="button">
                    <button class="btn-custom btn cowork bg-green mt-4 arrow-button-intraction pointer ">
                        <a class="text-white" href="">
                            درخواست همکاری
                        </a>
                        <img class="mr-2" src="~/Content/Images/Hadi/arrow-left.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="apprentice-container">
        <div class="banner-image-container">
            <picture>
                <source media="(max-width: 750px)" srcset="~/Content/Images/Hadi/Academy/AllAcademies/banner_responsive.jpg">
                <img src="~/Content/Images/Hadi/Academy/AllAcademies/banner.jpg" alt="banner">
            </picture>
        </div>
    </section>

    <section class="container-fluid articles-information">
        <div class="title-container mb-3">
            <div class="so-display-h2  so-display-h2-mobile font-anjoman">
                <span class="text-Turmeric">مقـــالات</span>
                <span>برگــزیده</span>
            </div>
            <div class="hr-style">
                <hr>
            </div>
        </div>
        <div class="images-container">
            <div class="box1 bottom-layout" onclick="goToAnArticle()">
                <img src="~/Content/Images/Hadi/Article_Photos-(3).jpg" alt="">
                <div class="filter-black">

                </div>
                <div class="hashtag-container">
                    <div class="user-experience-hashtag">
                        User_Experience#
                    </div>
                </div>
                <div class="description">
                    Journey Mapping تجسم فرایندی که کاربر از آن عبور خواهد کرد
                </div>
                <hr class="hr-style-white">
                <div class="inforamtion-container">
                    <div class="date">
                        5 خرداد 1399
                    </div>
                    <div class="name">
                        <img src="~/Content/Images/Hadi/member_photo.png" alt="">
                        <span>
                            علی مرزداران
                        </span>
                    </div>
                </div>
            </div>
            <div class="box2 bottom-layout" onclick="goToAnArticle()">
                <img src="~/Content/Images/Hadi/Article_Photos-(2).jpg" alt="">
                <div class="filter-black">

                </div>
                <div class="hashtag-container">
                    <div class="logo-design-hashtag">
                        logo_design#
                    </div>
                </div>
                <div class="description">
                    دلیل سادگی و مینیمالیست بودن لوگوی شرکت اپل چیست....؟
                </div>
                <hr class="hr-style-white">
                <div class="inforamtion-container">
                    <div class="date">
                        7 خرداد 1399
                    </div>
                    <div class="name">
                        <img src="~/Content/Images/Hadi/member_photo.png" alt="">
                        <span>
                            علی مرزداران
                        </span>
                    </div>
                </div>
            </div>
            <div class="box3 bottom-layout" onclick="goToAnArticle()">
                <img src="~/Content/Images/Hadi/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg" alt="">
                <div class="filter-black">

                </div>
                <div class="hashtag-container">
                    <div class="logo-design-hashtag">
                        logo_design#
                    </div>
                </div>
                <div class="description">
                    طراحی لوگو در قرن 21 به چه صورتی است؟
                </div>
                <hr class="hr-style-white">
                <div class="inforamtion-container">
                    <div class="date">
                        7 خرداد 1399
                    </div>
                    <div class="name">
                        <img src="~/Content/Images/Hadi/member_photo.png" alt="">
                        <span>
                            علی مرزداران
                        </span>
                    </div>
                </div>
            </div>
            <div class="box4 bottom-layout" onclick="goToAnArticle()">
                <img src="~/Content/Images/Hadi/Article_Photos-(1).jpg" alt="">
                <div class="filter-black">

                </div>
                <div class="hashtag-container">
                    <div class="wireless-hashtag ml-1">
                        wireless#
                    </div>
                    <div class="user-interface-hashtag ml-1">
                        User_interface#
                    </div>
                    <div class="frontend-hashtag ml-1">
                        Frontend#
                    </div>
                </div>
                <div class="description">
                    سیستم های کامپیوتری جدید ، از ابتدای پیدایش تا به اکنون همراه با تحول
                </div>
                <hr class="hr-style-white">
                <div class="inforamtion-container">
                    <div class="date">
                        3 خرداد 1399
                    </div>
                    <div class="name">
                        <img src="~/Content/Images/Hadi/member_photo.png" alt="">
                        <span>
                            علی مرزداران
                        </span>
                    </div>
                </div>
            </div>
            <div class="box5  so-display-h2-mobile">
                <a class="w-100 h-100 text-center pt-1 text-dark" href="../allArticles/allArticles.html">
                    همه مقالات
                </a>
            </div>
        </div>
    </section>
    <section class="challenge-container">
        <div class="challenge-header">
            <div class="challenge-title">
                یادگیری از طریق چالش
            </div>
            <div class="challenge-line-custom">

            </div>
        </div>
        <div class="challenge-video-container">
            <div class="challenge-video">
                <video loop controls poster="~/Content/Images/Hadi/Academy/AllAcademies/roydad_banner-01.jpg" class="video-custom">
                    <source src="vid/index-video.mp4" type="video/mp4">
                </video>
                <div class="video-info text-medium my-2">
                    <span class="video-info-name-holder">
                        نام پروژه:
                    </span>
                    <span class="video-info-name">
                        وبسایت فاینو
                    </span>
                </div>
                <div class="video-info-description">
                    چالش تولید یک کروسل تکرار شونده با فاصله یکسان چالش تولید یک
                </div>
            </div>
            <div class="challenge-video">
                <video loop controls poster="~/Content/Images/Hadi/Academy/AllAcademies/roydad_banner-01.jpg" class="video-custom">
                    <source src="vid/index-video.mp4" type="video/mp4">
                </video>
                <div class="video-info text-medium my-2">
                    <span class="video-info-name-holder">
                        نام پروژه:
                    </span>
                    <span class="video-info-name">
                        وبسایت فاینو
                    </span>
                </div>
                <div class="video-info-description">
                    چالش تولید یک کروسل تکرار شونده با فاصله یکسان چالش تولید یک
                </div>
            </div>
            <div class="challenge-video">
                <video loop controls poster="~/Content/Images/Hadi/Academy/AllAcademies/roydad_banner-01.jpg" class="video-custom">
                    <source src="vid/index-video.mp4" type="video/mp4">
                </video>
                <div class="video-info text-medium my-2">
                    <span class="video-info-name-holder">
                        نام پروژه:
                    </span>
                    <span class="video-info-name">
                        وبسایت فاینو
                    </span>
                </div>
                <div class="video-info-description">
                    چالش تولید یک کروسل تکرار شونده با فاصله یکسان چالش تولید یک
                </div>
            </div>
            <div class="challenge-video">
                <video loop controls poster="~/Content/Images/Hadi/Academy/AllAcademies/roydad_banner-01.jpg" class="video-custom">
                    <source src="vid/index-video.mp4" type="video/mp4">
                </video>
                <div class="video-info text-medium my-2">
                    <span class="video-info-name-holder">
                        نام پروژه:
                    </span>
                    <span class="video-info-name">
                        وبسایت فاینو
                    </span>
                </div>
                <div class="video-info-description">
                    چالش تولید یک کروسل تکرار شونده با فاصله یکسان چالش تولید یک
                </div>
            </div>
        </div>
    </section>
    <section class="about-this-project">
        <div class="content">
            <div class="border-bottom-custom"></div>
            <div class="border-right-custom border-bottom-custom  pb-4 pl-4">
                <div class="so-display-h1 font-anjoman">
                    مدرســــــین آکادمــی
                </div>
                <div class="title-color text-medium">
                    همه مدرسین
                </div>
            </div>
            <div></div>
            <div class="about-this-project-container">
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
                <div class="image-container">
                    <img class="main-image" src="~/Content/Images/Hadi/member_photo.png" alt="">
                    <img class="side-image" src="~/Content/Images/Hadi/Academy/AllAcademies/linkedin.svg" alt="">
                    <div class="caption">
                        علی مرزداران
                    </div>
                </div>
            </div>
        </div>
        <div class="box-container">
            <div class="info-container">
                <div>
                    از مــدرســــیـن
                    آکادمی باشید.
                </div>
                <div class="arrow-button-intraction">
                    <span>عضویت در آکادمی</span>
                    <img class="image ml-1 " src="~/Content/Images/Hadi/arrow-left.svg" alt="">
                </div>
            </div>
        </div>
    </section>


</body>



<script type="text/javascript">
    if (window.innerWidth > 750) {
        $(document).on('ready', function () {
            $('.videos-slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                prevArrow: "<img class='a-left control-c prev slick-next' src='~/Content/Images/Hadi/Academy/AllAcademies/Arrow_left.svg'>",
                nextArrow: "    <img class='a-left control-c prev slick-prev' src='~/Content/Images/Hadi/Academy/AllAcademies/Arrow_right.svg'>"
            });
        });
    }
    else {
        $(document).on('ready', function () {
            $('.videos-slider').slick({
                prevArrow: "<img class='a-left control-c prev slick-next' src='~/Content/Images/Hadi/Academy/AllAcademies/Arrow_left.svg'>",
                nextArrow: "    <img class='a-left control-c prev slick-prev' src='~/Content/Images/Hadi/Academy/AllAcademies/Arrow_right.svg'>"
            });
        });
    }

</script>