
<div class="information-title mb-3">
    <div class="so-display-h2  so-display-h2-mobile font-anjoman">
        <span>پروژه های</span>
        <span class="text-Turmeric ">موفــــــــــــق</span>
    </div>
    <div class="text-Turmeric so-body-2">
        همه پروژه ها
    </div>
</div>
@Html.Action("EmployersPartial", "Employers")

