@using Hadi.Cms.Infrastructure.Helpers
@{
    ViewBag.Title = "درباره ما";
    ViewBag.ContainerFluid = "";
    ViewBag.IdBody = "about-us";
}

<div class="container-fluid">
    <div class="about-us-header-container">
        <div class="header-text ">
            <div class="title so-display-h1 font-anjoman">
                <span class="high-light-text">همراهی</span> شانه به شانه

                از جنس فناوری اطلاعات ...
            </div>
            <div class="content">
                مفهوم <span class=" font-weight-bold ">پارتــنر</span> کسب و کار در شرایطی که دو مجموعه کارهای
                مشخصی را به صورت <span class="font-weight-bold">همکاری</span> مستـــقیم انجام
                می دهند به کار می رود، ســـوران با استفاده از<span class="font-weight-bold">
                    تکــنولوژی
                    ها
                </span> و <span class="font-weight-bold">متدهای</span> روز دنیای تکــنولوژی، این
                قابلیت را دارد که به نوعی همراه همیشگی و شانه به شانه کسب و کار شما در مسـیر رشد و پیشرفت آن،
                باشد و در مسیر رسیدن به اهـــداف شما را همراهی کند.
            </div>
        </div>
        <div class="header-image-container d-flex justify-content-end ">
            <img class="" src="/Content/Images/Hadi/AboutUs/aboutus_art.svg" alt="">
        </div>
    </div>
</div>
<div class="our-story-container ">
    <div class="logo-container ">
        <img src="/Content/Images/Hadi/AboutUs/moavenat_logo.svg" alt="">
        <img src="/Content/Images/Hadi/AboutUs/anformatic_logo.svg" alt="">
        <img src="/Content/Images/Hadi/AboutUs/senfi_logo.svg" alt="">
        <img src="/Content/Images/Hadi/AboutUs/iso_logo.svg" alt="">
    </div>
    <div class="our-story-text ">
        <div class="title so-display-h1 font-anjoman">
            داستان ما
        </div>
        <div class="content">
            ما شرکتی دانش بنیان و فعال در صنعت تولید نرم افزار، خصوصاً نرم افزارهای مبتنی بر وب و اپلیکیشن های
            تلفن همراه با تمرکز بر حوزه های
            مالی، اداری و تخصصی در ایران هستیم و از سال ۱۳۹۶ کار خود را در بخش های تحلیل، طراحی و توسعه نرم
            افزار آغاز کرده ایم؛ که با بکارگیری
            متدولوژی ها، معماری و تکنولوژی های نوین نرم افزاری و همراهی کارشناسان و مشاوران متخصص، با تجربه و
            معتبر، زمینه ای مساعد جهت
            افزایش سرعت و دقت در تولید محصولات را فراهم ساخته و توانسته ایم سبد محصولات جامع و کاملی را در بازار
            نرم افزار ایران ارائه نماییم.
            ما از شروع فعالیت نیازمندی سازمان ها و موسسات را سرلوحه فعالیت خود قرار داده و با انجام امور سفارشی
            شرکت ها توانسته ایم
            پیشرفت چشمگیری در عرصه تولید نرم افزار بومی داشته باشیم و رضایت خاطر مشتریان خود را فراهم آوریم.
        </div>
    </div>
    <div class="hadi-name">
        <div class="content">
            <div class="hadi-logo">
                <img src="/Content/Images/Hadi/AboutUs/hadi_logo.png" alt="">
            </div>
            <div class="hadi-intro">
                <div class="title so-display-h3">
                    نام هادی
                </div>
                <div class="detail mt-3">
                    هادی در لغت به معنی پرنده سار می باشد که در بین پرندگان به زیبایی، سرعت و حرکت مستقیم
                    به سمت هدف مشهور است. و در خصوص نامگذاری شرکت، نام هادی به استعاره از رویکرد چابک
                    در توسعه نرم افزار، برگزیده شده است.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hadi-attributes">
    <div class="container-fluid">
        <div class="title so-display-h3 ">
            چه نکاتی ما را <span class="high-light-text so-display-h1 font-anjoman">متفاوت</span> می سازد؟
        </div>
        <div class="attributes">
            <div class="item">
                <div class="item-image">
                    <img src="/Content/Images/Hadi/AboutUs/speed.svg" alt="">
                </div>
                <div class="item-text so-titr">
                    چابکی و
                    <br>
                    سرعت عمل
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="/Content/Images/Hadi/AboutUs/time.svg" alt="">
                </div>
                <div class="item-text so-titr">
                    تعهد به زمان
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="/Content/Images/Hadi/AboutUs/happy_customer.svg" alt="">
                </div>
                <div class="item-text so-titr">
                    رضایتمندی مشتری
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="/Content/Images/Hadi/AboutUs/technology.svg" alt="">
                </div>
                <div class="item-text so-titr">
                    استفاده از
                    <br>
                    تکنولوژی های روز
                </div>
            </div>
            <div class="item pattern">
                <div class="item-image">
                    <img src="/Content/Images/Hadi/AboutUs/pattern.svg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="hadi-organizational-structure container-fluid">
    <div class="content ">
        <div class="title so-display-h1 font-anjomans">
            ساختار سازمانی
            <br>
            هادی
        </div>
        <div class="content pt-3">
            <div class="text">
                شرکت هادی تشکیل شده از بخش های مختلفی
                است که با همکاری هم سعی بر ساختن فردایی بهتر
                دارند.
            </div>
            <a href="@Url.Action("Career","Home")" class="btn about-us-button mt-3 arrow-button-intraction">
                <span class="button-text">
                    به ما بپیوندید
                </span>
                <img class="button-image" src="/Content/Images/Hadi/arrow-left.svg" alt="">
            </a>
            <div class="pattern mt-5">
                <img class="pattern" src="/Content/Images/Hadi/AboutUs/pattern.svg" alt="">
            </div>
        </div>
    </div>
    <div class="structure-chart">
        <img src="/Content/Images/Hadi/AboutUs/organiz_Structure.svg" alt="">
    </div>


</div>
<div class="services container-fluid">
    <div class="content">
        <div class="title so-display-h3 pb-2">
            چه کمکی می توانیم به شما بکنیم؟
        </div>
        <div class="detail pt-3">
            چنانچه به دنبال خدماتی از جنس فناوری اطلاعات هستید و یا می خواهید ملاقاتی جهت مشاوره تنظیم کنید می
            توانید از بخش
            <br>
            تماس باما، شروع کنید...
        </div>
        <a href="@Url.Action("Contact","Home")" class="btn about-us-button mt-3 arrow-button-intraction">
            <span class="button-text">تماس با ما</span>
            <img class="button-image" src="/Content/Images/Hadi/arrow-left.svg" alt="">
        </a>
    </div>
    <div class="services-image">
        <img src="/Content/Images/Hadi/AboutUs/contact_us.svg" alt="">
    </div>
</div>