
@{
	ViewBag.Title = "نوار";
	Layout = "~/Views/Shared/_InnerPageLayout.cshtml";
}

<section class="jumbotron text-center navaar-header">
	<div class="container mt-5">
		<div class="row ">
			<div class="col-md-5 mt-5">
				<h1>نوار</h1>
				<p class="lead text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
				<p class="lead text-right mt-5">
					آدرس سایت: <b>navaar.ir</b>
				</p>
				<p class="lead text-right mt-3">
					رتبه الکسا: <b>1,070</b><br />
				</p>
				<p class="lead text-right mt-3">
					درصد مشارکت: <b>27%</b>
				</p>
			</div>
			<div class="col-md-4 offset-md-2 mt-5">
				<h1>ویژگی های کسب و کار</h1>
				<ul class="text-right font-weight-bold mt-5">
					<li class="mt-4"><h3>یک کتابخانه همراه</h3></li>
					<li class="mt-4"><h3>دسته بندی موضوعات مختلف</h3></li>
					<li class="mt-4"><h3>شنیدن داستان ها و قصه های جذاب</h3></li>
					<li class="mt-4"><h3>دسترسی سریع و آسان به کتاب های صوتی</h3></li>
				</ul>
			</div>
		</div>


	</div>
</section>
<section class="jumbotron navaar-left">
	<div class="container-fluid">
		<div class="row">
			<div class="offset-md-1"></div>
			<div class="col-md-4 mt-5">
				<h1>برندگان نوبل</h1>
				<p class="font-size-16 mt-4">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
				</p>
			</div>

		</div>
	</div>
</section>

<section class="jumbotron navaar-right">
	<div class="container-fluid">
		<div class="row justify-content-end">
			<div class="col-md-4 mt-5">
				<h1>زندگینامه ها</h1>
				<p class="font-size-16 mt-4">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
				</p>
			</div>
			<div class="offset-md-1"></div>
		</div>
	</div>
</section>