:root {
    --color-stromboli: #315B51;
    --color-Turmeric: #C8B34C;
    --color-shady-lady: #B3B2B3;
    --color-husk: #AD9944;
    --color-jungel-green: #2BB898;
    --color-raw-sienna: #D39241;
    --color-azure: #385BA6;
    --color-emperor: #515151;
    --color-sandwisp: #F4E8AA;
    --color-goldenrod: #FAC86E;
    --color-wild-sand: #F4F4F4;
    --color-persian-green: #00A99D;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-bi-Sand: #EDF1F4;
    --color-red: #c51c1c;
}
