@model Hadi.Cms.ApplicationService.CommandModels.NlEmailCreateCommand
<div class="newsletters">
    <div class="member-title font-anjoman">
        <span>عضویت در</span>
        <span class="turmeric-color">خبرنامه</span>
    </div>
    <img class="laptop-style" src="/Content/Images/Hadi/Articles/AnArticle/laptop.svg" alt="">
    <div class="border-bottom-custom"></div>
    <div class="border-right-bottom-custom"></div>
    <div class="border-right-bottom-custom"></div>
    <div class="border-bottom-custom"></div>
    <div class="border-right-bottom-custom info-container">
        <div class="title">
            با عضویت در خبرنامه ی هادی در قله ی دانش بمانید.
        </div>
        <form  class="form-custom">
            <input  id="email-input" class="input-custom"  required name="Email" type="email" placeholder="آدرس ایمیل">
            <button onclick="sendEmail()"  type="button" class="button-custom mr-2 arrow-button-intraction send-email-button">
                <span>
                    عضویت
                </span>
                <img class="image ml-1 send-email-button" src="/Content/Images/Hadi/arrow-left.svg" alt="">
            </button>
        </form>
    </div>
    <div class="border-right-bottom-custom"></div>
    <div class=""></div>
    <div class="border-right-custom"></div>
    <div class="border-right-custom"></div>
</div>
